.form-group{
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
 padding: 0;
}
input{
  height: 30px;
  width: 400px;
  border-radius: 9px;
  font-size: 15px;
  font-weight: bold;
}

textarea{
  height: 150px;
  width: 400px; 
  border-radius: 9px;
  font-weight: bold;
  font-size: 15px;
}
button{
 align-items: center;
 justify-content: center;
 font-weight: bold;
}